@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'jawa';
    src: url(/Asset/Assets/JAWAPALSU.TTF);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 450px) {
    .cover {
        min-height: 100vh;
        width: 100%;
        background-image: url(/Asset/BG/2Prewedding\ Photo\ with\ Casual\ Concept\ \(1\).jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: change 10s infinite ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #title_cv {
        margin-bottom: 45vh;
    }
    #btn_cv {
        margin-bottom: 0vh;
        background-image: url(/Asset/BG/1178-removebg-preview.png);
        background-repeat: repeat;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 5px;
        color: rgb(255, 255, 255);
        
        
    }
    #name_cv {
        margin-top: 2vh;
        color: rgb(255, 255, 255);
    }

    #name_cv {
        width: 43vh;
        margin: 10px;
        font-family: 'jawa';
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        text-decoration: none;
        letter-spacing: 4px;
    }
    #env_cover {
        width:70px;
        border-radius: 10px;
    }

    #date_cv {
        margin: auto;
        width: 40vh;
        padding-top: 35%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    #date_cv {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 30px;
        text-decoration: none;
        letter-spacing: 5px;
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    #bg_bh {
        background-image: url(/Asset/BG/1178-removebg-preview.png);
        
    }

    /* #btn_1_cv {
        transition-duration: 0.5s;
        padding: 16px 40px;
        border: 1px solid;
        border-radius: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: #ffffff5e;
    }
    #btn_1_cv:hover { */
        /* padding: 40px 60px;
        border: 1px solid;
        border-radius: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: #fff2355e;
        font-size: 20px;
    } */
    .btn-1 { 
        font-family: "Montserrat", sans-serif;
        transition-duration: 0.5s;
        padding: 16px 40px;
        border: 1px solid;
        border-radius: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: #ffffff5e;
    }
    .btn-1:hover { 
        padding: 40px 60px;
        border: 1px solid;
        border-radius: 5px;
        border-radius: 10px;
        border-color: rgb(255, 211, 80);
        background-color: #ffe38f5e;
        font-size: 20px;
    }
}
    /*
    @keyframes change {
        0%
        {
            background-image: url(/Asset/BG/1Prewedding\ Photo\ with\ Casual\ Concept\ \(1\).png);
        }
        20%
        {
            background-image: url(/Asset/BG/arfan-adytiya-h9wK0Gj6F48-unsplash.jpg)
        }
        40%
        {
            background-image: url(/Asset/BG/Gibran\ &\ Selvi\,\ Seanggun\ Putra\ Putri\ Solo\ di\ Graha\ Saba\ Buana\ -\ Gibran\ Rakabuming\ Raka\ &\ Selvi\ Ananda.jpeg);
        }
    }*/


